.product-view {
    border: 1px solid lightslategrey;
    cursor: pointer;
    max-width: 300px;
    margin: 10px;
}
.product-view > img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}