.banner {
    background-image:
     linear-gradient(to bottom, rgba(245, 246, 252, 0.45), rgba(15, 19, 93, 0.73)),
     url("https://w.wallhaven.cc/full/zy/wallhaven-zyxvqy.jpg");
    background-color: #FAFAFA;
    height: 300px;
    color: #FAFAFA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.title {
  font-size: 4rem;
}

.caption {
  font-size: 2rem;
}